html,body{
    margin: 5px;
    background-color: black;
}
#ckName{
    background-color: white;
    font-size: 50px;
    text-align: center;
    margin: 20px 0 0 400px;
    
}

/*BOX1*/
#BOX1{
    margin:10px 0 0 50px;
    float: left;
    display: inline;
}

#Player{
    border: solid 5px darkslateblue;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
    
}
#tribe{
    width:50px;
}

.player_name{
    width: 100px;
    height:70px;
    font-size: 20px;
    border: none;
    text-align: center;
}
#button_collect{
    margin: 0px;
}
#match_button{
    margin: 10px;
    border: solid 5px darkslateblue;
    background-color:white;
    text-align: center;
    width: 100px;
    height:50px;
}

#match_button:hover{
    border: solid 5px teal;
}

#BOX2{
    border: solid 5px darkslateblue;
    margin: 10px 0 0 50px;
    float: left;
    background-color: white;
    width:fit-content;
}
#spon{
    border-collapse: collapse;
}
#sponsor,#star{
    border:none;
    text-align: center;
}

/*BOX3*/

#BOX3{
    margin: 10px 0 0 50px;
    clear: left;
    display: block;
    
}
#team{
    width: 520px;
    height: 100px;
    background-color: white;
    border: solid 5px darkslateblue;
    text-align: center;
}