#main{
    display: grid;
    grid-template-columns: 420px 420px 420px;
    row-gap: 0px;
    column-gap: 5px;
    }
aside{
    position : fixed;
    right: 0px;

    }
#menu{
    border: solid 10px black;
}
#menu:hover{
    border: solid 10px teal;
}
#f{
    margin:0;
}