#main{
    align-items: center;
    font-size:50px;
    height:800px;
    margin:0px;
    display: grid;
    grid-template-columns: 420px 420px 420px;
    }
#fix{
    position : fixed;
    right: 0px;

    }
#menu{
    padding-top:10px;
    border: solid 10px black;
}
#menu:hover{
    border: solid 10px teal;
}  