html,body{
    margin: 5px;
    padding: 0px;
    background-color: black;
}

#main{
    display: grid;
    grid-template-columns: 420px 420px 420px;
    grid-template-rows: 420px 420px;
    row-gap: 5px;
    column-gap: 5px;
    }
aside{
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 110px 110px 110px;
    position : fixed;
    right: 50px;
    }
#menu{
    border: solid 10px darkslateblue;
}
#menu:hover{
    border: solid 10px teal;
}
#sideBar{
    border: solid 5px darkslateblue;
}
#sideBar:hover{
    border: solid 5px teal;
}
